.image-cover {
    height: 60vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.bio-label {
    text-align: justify;
    word-wrap: break-word;    
    line-height: 1.5;
    font-size: 18px;
}