.master-archive{
	margin-bottom: 30px;
	a {
		&:hover {
			text-decoration: none;
		}
	}
	.thumbnail {
		display: block;
		background-size: cover;
		width: 100%;
		height: 200px;
		background-position: center;			 
		-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
		filter: grayscale(100%);
		
		.inner-info{
			display: block;
		    height: 100%;
		    width: 100%;
			position: relative;

		    .inner-info-title{
		    	display: none;			    
			    width: 100%;
			    height: 100%;
			    align-items: center;
				justify-content: center;
				color: white;								   
		    }// .inner-info-title
		    
		    .info-top-link-wrapper{	
		    	display: none;	    	
		    	position: absolute;
		    	top: 0;
		    	left: 0;		    	
		    	width: 100%;
				text-align: center;
		    	
		    	.info-top-link{
			    	display: inline-block;				    				    
					text-transform: uppercase;
		    		text-decoration: none;
				    
				    z-index: 1000;
				    color: white;
				    text-align: center;
				    padding: 0 5px;
		    	}// .info-top-link 
		    }// .info-top-link-wrapper		    
		}// .inner-info
		a{
			z-index: 9;
			.box-title {
				display: block;

			}
		}// anchor_tag		
	} // .thumbnail
	&:hover {
		.thumbnail{
			&:before {
				background-color: rgba(0, 0, 0, .65);
				content: '';
				display: block;
				position: absolute;
				left: 15px;
				right: 15px;
				top: 0;
				bottom: 30px;
				z-index: 0;
			}
			a {
				.box-title {
					display: block;
					color: white;
				}
			}
			ul {
				display:flex;
				flex-direction: column;
				justify-content: center;
				align-items:center
			}
			.inner-info-title{
				display: flex;
			}
			.info-top-link-wrapper{
				display: block;
			}
		}		
	}

	@media screen and (max-width: $break-small) {
		.thumbnail{
			&:before {
				background-color: rgba(0, 0, 0, .65);
				content: '';
				display: block;
				position: absolute;
				left: 15px;
				right: 15px;
				top: 0;
				bottom: 30px;
				z-index: 0;
			}
			.inner-info-title {
				display: flex!important;
				h3 {
					color: white;
				}
			}
			ul {
				display:flex;
				flex-direction: column;
				justify-content: center;
				align-items:center;
			}
			.info-top-link-wrapper{
				display: block;
			}
		}

	}
}


.artist, .release, .post {
	@extend .master-archive;
}



    

