.master-archive{
	margin-bottom: 30px;
	a {
		&:hover {
			text-decoration: none;
		}
	}
	.thumbnail {
		display: block;
		background-size: cover;
		width: 100%;
		height: 200px;
		background-position: center;			 
		
		.inner-info{
			display: block;
		    height: 100%;
		    width: 100%;
			position: relative;

		    .inner-info-title{
		    	display: flex;			    
			    width: 100%;
			    height: 100%;
			    align-items: center;
				justify-content: center;								   
		    }
		    .info-top-link-wrapper{		    	
		    	position: absolute;
		    	top: 0;
		    	left: 0;		    	
		    	width: 100%;
				text-align: center;
		    	
		    	.info-top-link{
			    	display: inline-block;				    				    
					text-transform: uppercase;
		    		text-decoration: none;
				    
				    z-index: 1000;
				    color: white;
				    text-align: center;
				    padding: 0 5px;
		    	}
		    }		    
		}
		a{
			z-index: 9;
			.box-title {
				display: none;

			}
		}
		ul {
			padding: 0;
			margin: 0;
			z-index: 9;
			display: none;
			li {
				list-style: none;
				a {
					color: white;
					text-decoration: none;
				}
			}
		}
	}
	&:hover {
		.thumbnail{
			&:before {
				background-color: rgba(0, 0, 0, 0.37);
				content: '';
				display: block;
				position: absolute;
				left: 15px;
				right: 15px;
				top: 0;
				bottom: 30px;
				z-index: 0;
			}
			a {
				.box-title {
				display: block;
				color: white;
				}
			}
			ul {
				display:flex;
				flex-direction: column;
				justify-content: center;
				align-items:center
			}
		}
	}
}


.artist, .release, .post {
	@extend .master-archive;
}



    

