//vars
$height: 100%;
$bgColor: blue;

.test{
	height: $height;
	background-color: $bgColor;
}

.archive > .hr {
	height:3px;
	content:"";
	background-color: black;
	margin-top: 1.33em;
	-webkit-animation: mymove 3s;
	animation: mymove 3s;
	margin-bottom: 1.7em;
}

@-webkit-keyframes mymove {
    from {width: 0%;}
    to {width: 100%;}
}

/* Standard syntax */
@keyframes mymove {
    from {width: 0%;}
	to {width: 100%;}
}
